<div class="search-nav">
  <div class="row">
    <div class="col-1 col-md-2">
    </div>
    <div class="col-10 col-md-8 top-margin">
      <%= form_tag(root_path, :method => :get, class: "form-group collapsed_search row overflowing") do %>
        <%= hidden_field_tag :show_navbar, params[:show_navbar] %>
        <%= hidden_field_tag :kiosk, params[:kiosk] %>
        <%= text_field_tag :search, params[:search], class: "search_input hidden-search search_form col", :placeholder => "(example: Circulation, Restrooms, Well Lit)" %>
        <%= submit_tag "Search", :method => :get, id: "search_toggle", class: 'search-button collapsed_button btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
<%= javascript_include_tag 'application' %>
<script type="text/javascript">
  var has_clicked = false
  $("#search_toggle").on("click", function(e) {
    if(has_clicked === true) {
    } else {
      e.preventDefault();
      has_clicked = true;
      $('.form-group').removeClass('collapsed_search');
      $('.search_input').removeClass('hidden-search');
      $('.search-button').removeClass('collapsed_button');
    }
  });
</script>
<%# Don't render the virtual keyboard for clients other than the kiosks, and try to allow for a range
    of truthy/falsey params that might be passed on the querystring. %>
<% if params[:kiosk].present? && ActiveRecord::Type::Boolean.new.cast(params[:kiosk]) %>
  <script type='text/javascript'>
    $('#search').keyboard({
      autoAccept: true,
      layout: 'custom',
      customLayout: {
        'normal': [
          '1 2 3 4 5 6 7 8 9 0 - = {bksp}',
          'q w e r t y u i o p',
          'a s d f g h j k l ; \'',
          'z x c v b n m , .',
          '{cancel} {space} {accept}'
        ],
      },
      accepted: function(e, keyboard, el) {
        $('.search-button').click();
      },
      beforeVisible: function(e, keyboard, el) {
        $('.search-button').hide();
      },
      beforeClose: function(e, keyboard, el) {
        $('.search-button').show();
      }

    });
  </script>
<% end %>
