<%= render partial: "shared/navbar.html.erb" unless params[:toggle_navbar] == "true" %>

<div class="row">
  <div class="col-2 right-padding">
    <div class="row">
      <%= button_to "Floor 1", chosen_floor_path("1", params[:toggle_navbar] == "true" ? true : false), method: :get %>
    </div>
    <div class="row">
      <%= button_to "Floor 2", chosen_floor_path("2", params[:toggle_navbar] == "true" ? true : false), method: :get %>
    </div>
    <div class="row">
      <%= button_to "Floor 3", chosen_floor_path("3", params[:toggle_navbar] == "true" ? true : false), method: :get %>
    </div>
    <div class="row">
      <%= button_to "Floor 4", chosen_floor_path("4", params[:toggle_navbar] == "true" ? true : false), method: :get %>
    </div>
    <div class="row">
      <%= button_to "Floor 5", chosen_floor_path("5", params[:toggle_navbar] == "true" ? true : false), method: :get %>
    </div>
    <div class="row">
      <%= button_to "Floor 6", chosen_floor_path("6", params[:toggle_navbar] == "true" ? true : false), method: :get %>
    </div>
  </div>
  <div class="col-9">
    </p><%= react_component("MapView", { map: @floor.map, floor: @floor }) %></p>
  </div>
</div>
