<!DOCTYPE html>
<html>
  <head>
    <title>LibNavRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

  </head>

  <body>
    <%= yield %>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </body>
</html>
